* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
  background: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  padding: 0px 60px;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c69774;
}
