.flex-box-cards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  row-gap: 24px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.card {
  padding: 15px;
  backdrop-filter: blur(15px);
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: #e9e9e9;
  width: 309px;
  min-height: 158px;
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  /* margin: 50px 0; */
  border-radius: 20px;
}

.card__image-container {
  border-radius: 14px;
  overflow: hidden;
  max-width: 100%;
  height: 420px;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Change the color of the filled stars */
.ant-rate-star-full .ant-rate-star-second {
  color: #f4ce14;
}

.ant-rate-star-full .ant-rate-star-first {
  color: #f4ce14;
}

/* Change the color of the half stars */
.ant-rate-star-half .ant-rate-star-second {
  color: #ffffff;
}

.ant-rate-star-half .ant-rate-star-first {
  color: #f4ce14;
}

/* Change the color of the empty stars */
.ant-rate-star-zero .ant-rate-star-second {
  color: #ffffff;
}

.ant-rate-star-zero .ant-rate-star-first {
  color: #ffffff;
}

.product-name {
  margin-top: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #363636;
  font-size: 22px;
  font-weight: 600;
}

.product-price {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 900;
}
