.card {
  padding: 15px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.4);
  width: 309px;
  min-height: 158px;
  display: flex;
  flex-direction: column;
  row-gap: 19px;
  margin: 50px 0;
  border-radius: 20px;
}

.card__image-container {
  border-radius: 14px;
  overflow: hidden;
  max-width: 100%;
  height: 420px;
}

.card__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Change the color of the filled stars */
.ant-rate-star-full .ant-rate-star-second {
  color: #f4ce14;
}

.ant-rate-star-full .ant-rate-star-first {
  color: #f4ce14;
}

/* Change the color of the half stars */
.ant-rate-star-half .ant-rate-star-second {
  color: #ffffff;
}

.ant-rate-star-half .ant-rate-star-first {
  color: #f4ce14;
}

/* Change the color of the empty stars */
.ant-rate-star-zero .ant-rate-star-second {
  color: #ffffff;
}

.ant-rate-star-zero .ant-rate-star-first {
  color: #ffffff;
}
